<%- include('./partials/header') %>

    <div class="content-wrapper">
        <section id="hero">
            <div class="container">
                <h1>Soccer Match Rater</h1>
                <h2>Welcome to the Ultimate Soccer Experience</h2>
                <p>Rate matches, review player performances, and stay updated with the latest in the world of soccer.
                </p>
                <a href="#features" class="cta-button">Get Started</a>
            </div>
        </section>

        <section id="features">
            <div class="container">
                <div class="feature">
                    <i class="fas fa-futbol"></i>
                    <h3>Rate Matches</h3>
                    <p>Share your match ratings and opinions with other soccer enthusiasts.</p>
                    <img height="500px" width="1000px"
                        src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExMTh2MTBod2hwZm5vbGVxeXd5aW9hOTJmZW1nanV4eHRraWt4d2doMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/CCXH7vbuEqhBQjUOCu/giphy.gif"
                        alt="Global Coverage Image">
                </div>
                <div class="feature">
                    <i class="fas fa-users"></i>
                    <h3>Player Reviews</h3>
                    <p>Review player performances and contribute to the player ratings.</p>
                </div>
                <div class="feature">
                    <i class="fas fa-globe"></i>
                    <h3>Global Coverage</h3>
                    <p>Stay connected with soccer matches and events from around the world.</p>
                </div>
            </div>
        </section>
    </div>

<%- include('./partials/footer') %>